<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyc.demo.merchants.dao.ProductInfoMapper">
  <resultMap id="BaseResultMap" type="com.skyc.demo.merchants.po.ProductInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="product_free" jdbcType="VARCHAR" property="productFree" />
    <result column="product_special" jdbcType="VARCHAR" property="productSpecial" />
    <result column="product_special_img" jdbcType="VARCHAR" property="productSpecialImg" />
    <result column="product_special_img2" jdbcType="VARCHAR" property="productSpecialImg2" />
    <result column="product_special_status" jdbcType="VARCHAR" property="productSpecialStatus" />
    <result column="product_cover_img" jdbcType="VARCHAR" property="productCoverImg" />
    <result column="product_share_img" jdbcType="VARCHAR" property="productShareImg" />
    <result column="product_main_img1" jdbcType="VARCHAR" property="productMainImg1" />
    <result column="product_main_img2" jdbcType="VARCHAR" property="productMainImg2" />
    <result column="product_main_img3" jdbcType="VARCHAR" property="productMainImg3" />
    <result column="product_main_img4" jdbcType="VARCHAR" property="productMainImg4" />
    <result column="product_main_img5" jdbcType="VARCHAR" property="productMainImg5" />
    <result column="product_title" jdbcType="VARCHAR" property="productTitle" />
    <result column="product_subtitle" jdbcType="VARCHAR" property="productSubtitle" />
    <result column="product_sale_status" jdbcType="VARCHAR" property="productSaleStatus" />
    <result column="product_sale_time" jdbcType="VARCHAR" property="productSaleTime" />
    <result column="product_original_price" jdbcType="REAL" property="productOriginalPrice" />
    <result column="product_now_price" jdbcType="REAL" property="productNowPrice" />
    <result column="product_vip_price" jdbcType="REAL" property="productVipPrice" />
    <result column="product_sale_volume" jdbcType="INTEGER" property="productSaleVolume" />
    <result column="product_detail" jdbcType="VARCHAR" property="productDetail" />
    <result column="max_appointment" jdbcType="INTEGER" property="maxAppointment" />
    <result column="product_end_time" jdbcType="VARCHAR" property="productEndTime" />
    <result column="commission_heigh" jdbcType="REAL" property="commissionHeigh" />
    <result column="commission_middle" jdbcType="REAL" property="commissionMiddle" />
    <result column="commission_low" jdbcType="REAL" property="commissionLow" />
    <result column="sale_out" jdbcType="VARCHAR" property="saleOut" />
    <result column="operate_id" jdbcType="VARCHAR" property="operateId" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, store_id, store_name, product_type, product_free, product_special, product_special_img, product_special_img2,
    product_special_status, product_cover_img, product_share_img, product_main_img1, product_main_img2,
    product_main_img3, product_main_img4, product_main_img5, product_title, product_subtitle, product_sale_status,
    product_sale_time, product_original_price, product_now_price, product_vip_price, 
    product_sale_volume, product_detail, max_appointment, product_end_time, commission_heigh, 
    commission_middle, commission_low, sale_out, operate_id, add_time, status
  </sql>
  <select id="selectProductByStore" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where store_id = #{storeId,jdbcType=VARCHAR}
    and status = '1'
    order by add_time desc
  </select>
  <select id="selectIndexProductByStore" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where store_id = #{storeId,jdbcType=VARCHAR}
    and product_free = '0'
    and status = '1'
    order by add_time desc
  </select>
  <select id="selectSuperProductByStore" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where store_id = #{storeId,jdbcType=VARCHAR}
    and product_free = '1'
    and status = '1'
    order by add_time desc
  </select>
  <select id="selectProductById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectIndexProduct" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where status = '1'
    and product_free = '0'
    order by sale_out
  </select>
  <select id="selectSuperProduct" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where status = '1'
    and product_free = '1'
    <if test="list.size() > 0">
      and id not in
      <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
        #{item.productId}
      </foreach>
    </if>
    order by sale_out
  </select>
  <select id="selectIndexOneBig" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where product_free = '0'
    and product_special = '3'
  </select>
  <select id="selectIndexOneBigShow" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where product_free = '0'
    and product_special = '3'
    and product_special_status = '1'
  </select>
  <select id="selectIndexOne" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where product_free = '0'
    and product_special = '4'
  </select>
  <select id="selectIndexOneShow" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where product_free = '0'
    and product_special = '4'
    and product_special_status = '1'
    order by add_time desc
    limit 2
  </select>
  <select id="selectIndexTwo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where product_free = '0'
    and product_special = '5'
  </select>
  <select id="selectIndexTwoShow" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where product_free = '0'
    and product_special = '5'
    and product_special_status = '1'
    order by add_time desc
    limit 3
  </select>
  <select id="selectVipOneShow" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where product_free = '1'
    and product_special = '1'
    order by add_time desc
    limit 6
  </select>
  <select id="selectVipTwoShow" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_info
    where product_free = '1'
    and product_special = '2'
    order by add_time desc
    limit 4
  </select>
  <insert id="insertProduct" parameterType="com.skyc.demo.merchants.po.ProductInfo">
    insert into product_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="productFree != null">
        product_free,
      </if>
      <if test="productSpecial != null">
        product_special,
      </if>
      <if test="productSpecialImg != null">
        product_special_img,
      </if>
      <if test="productSpecialImg2 != null">
        product_special_img2,
      </if>
      <if test="productSpecialStatus != null">
        product_special_status,
      </if>
      <if test="productCoverImg != null">
        product_cover_img,
      </if>
      <if test="productShareImg != null">
        product_share_img,
      </if>
      <if test="productMainImg1 != null">
        product_main_img1,
      </if>
      <if test="productMainImg2 != null">
        product_main_img2,
      </if>
      <if test="productMainImg3 != null">
        product_main_img3,
      </if>
      <if test="productMainImg4 != null">
        product_main_img4,
      </if>
      <if test="productMainImg5 != null">
        product_main_img5,
      </if>
      <if test="productTitle != null">
        product_title,
      </if>
      <if test="productSubtitle != null">
        product_subtitle,
      </if>
      <if test="productSaleStatus != null">
        product_sale_status,
      </if>
      <if test="productSaleTime != null">
        product_sale_time,
      </if>
      <if test="productOriginalPrice != null">
        product_original_price,
      </if>
      <if test="productNowPrice != null">
        product_now_price,
      </if>
      <if test="productVipPrice != null">
        product_vip_price,
      </if>
      <if test="productSaleVolume != null">
        product_sale_volume,
      </if>
      <if test="productDetail != null">
        product_detail,
      </if>
      <if test="maxAppointment != null">
        max_appointment,
      </if>
      <if test="productEndTime != null">
        product_end_time,
      </if>
      <if test="commissionHeigh != null">
        commission_heigh,
      </if>
      <if test="commissionMiddle != null">
        commission_middle,
      </if>
      <if test="commissionLow != null">
        commission_low,
      </if>
      <if test="operateId != null">
        operate_id,
      </if>
      <if test="saleOut != null">
        sale_out,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="productFree != null">
        #{productFree,jdbcType=VARCHAR},
      </if>
      <if test="productSpecial != null">
        #{productSpecial,jdbcType=VARCHAR},
      </if>
      <if test="productSpecialImg != null">
        #{productSpecialImg,jdbcType=VARCHAR},
      </if>
      <if test="productSpecialImg2 != null">
        #{productSpecialImg2,jdbcType=VARCHAR},
      </if>
      <if test="productSpecialStatus != null">
        #{productSpecialStatus,jdbcType=VARCHAR},
      </if>
      <if test="productCoverImg != null">
        #{productCoverImg,jdbcType=VARCHAR},
      </if>
      <if test="productShareImg != null">
        #{productShareImg,jdbcType=VARCHAR},
      </if>
      <if test="productMainImg1 != null">
        #{productMainImg1,jdbcType=VARCHAR},
      </if>
      <if test="productMainImg2 != null">
        #{productMainImg2,jdbcType=VARCHAR},
      </if>
      <if test="productMainImg3 != null">
        #{productMainImg3,jdbcType=VARCHAR},
      </if>
      <if test="productMainImg4 != null">
        #{productMainImg4,jdbcType=VARCHAR},
      </if>
      <if test="productMainImg5 != null">
        #{productMainImg5,jdbcType=VARCHAR},
      </if>
      <if test="productTitle != null">
        #{productTitle,jdbcType=VARCHAR},
      </if>
      <if test="productSubtitle != null">
        #{productSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="productSaleStatus != null">
        #{productSaleStatus,jdbcType=VARCHAR},
      </if>
      <if test="productSaleTime != null">
        #{productSaleTime,jdbcType=VARCHAR},
      </if>
      <if test="productOriginalPrice != null">
        #{productOriginalPrice,jdbcType=REAL},
      </if>
      <if test="productNowPrice != null">
        #{productNowPrice,jdbcType=REAL},
      </if>
      <if test="productVipPrice != null">
        #{productVipPrice,jdbcType=REAL},
      </if>
      <if test="productSaleVolume != null">
        #{productSaleVolume,jdbcType=INTEGER},
      </if>
      <if test="productDetail != null">
        #{productDetail,jdbcType=VARCHAR},
      </if>
      <if test="maxAppointment != null">
        #{maxAppointment,jdbcType=INTEGER},
      </if>
      <if test="productEndTime != null">
        #{productEndTime,jdbcType=VARCHAR},
      </if>
      <if test="commissionHeigh != null">
        #{commissionHeigh,jdbcType=REAL},
      </if>
      <if test="commissionMiddle != null">
        #{commissionMiddle,jdbcType=REAL},
      </if>
      <if test="commissionLow != null">
        #{commissionLow,jdbcType=REAL},
      </if>
      <if test="operateId != null">
        #{operateId,jdbcType=VARCHAR},
      </if>
      <if test="saleOut != null">
        #{saleOut,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateProduct" parameterType="com.skyc.demo.merchants.po.ProductInfo">
    update product_info
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="productFree != null">
        product_free = #{productFree,jdbcType=VARCHAR},
      </if>
      <if test="productSpecial != null">
        product_special = #{productSpecial,jdbcType=VARCHAR},
      </if>
      <if test="productSpecialImg != null">
        product_special_img = #{productSpecialImg,jdbcType=VARCHAR},
      </if>
      <if test="productSpecialImg2 != null">
        product_special_img2 = #{productSpecialImg2,jdbcType=VARCHAR},
      </if>
      <if test="productSpecialStatus != null">
        product_special_status = #{productSpecialStatus,jdbcType=VARCHAR},
      </if>
      <if test="productCoverImg != null">
        product_cover_img = #{productCoverImg,jdbcType=VARCHAR},
      </if>
      <if test="productShareImg != null">
        product_share_img = #{productShareImg,jdbcType=VARCHAR},
      </if>
      <if test="productMainImg1 != null">
        product_main_img1 = #{productMainImg1,jdbcType=VARCHAR},
      </if>
      <if test="productMainImg2 != null">
        product_main_img2 = #{productMainImg2,jdbcType=VARCHAR},
      </if>
      <if test="productMainImg3 != null">
        product_main_img3 = #{productMainImg3,jdbcType=VARCHAR},
      </if>
      <if test="productMainImg4 != null">
        product_main_img4 = #{productMainImg4,jdbcType=VARCHAR},
      </if>
      <if test="productMainImg5 != null">
        product_main_img5 = #{productMainImg5,jdbcType=VARCHAR},
      </if>
      <if test="productTitle != null">
        product_title = #{productTitle,jdbcType=VARCHAR},
      </if>
      <if test="productSubtitle != null">
        product_subtitle = #{productSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="productSaleStatus != null">
        product_sale_status = #{productSaleStatus,jdbcType=VARCHAR},
      </if>
      <if test="productSaleTime != null">
        product_sale_time = #{productSaleTime,jdbcType=VARCHAR},
      </if>
      <if test="productOriginalPrice != null">
        product_original_price = #{productOriginalPrice,jdbcType=REAL},
      </if>
      <if test="productNowPrice != null">
        product_now_price = #{productNowPrice,jdbcType=REAL},
      </if>
      <if test="productVipPrice != null">
        product_vip_price = #{productVipPrice,jdbcType=REAL},
      </if>
      <if test="productSaleVolume != null">
        product_sale_volume = #{productSaleVolume,jdbcType=INTEGER},
      </if>
      <if test="productDetail != null">
        product_detail = #{productDetail,jdbcType=VARCHAR},
      </if>
      <if test="maxAppointment != null">
        max_appointment = #{maxAppointment,jdbcType=INTEGER},
      </if>
      <if test="productEndTime != null">
        product_end_time = #{productEndTime,jdbcType=VARCHAR},
      </if>
      <if test="commissionHeigh != null">
        commission_heigh = #{commissionHeigh,jdbcType=REAL},
      </if>
      <if test="commissionMiddle != null">
        commission_middle = #{commissionMiddle,jdbcType=REAL},
      </if>
      <if test="commissionLow != null">
        commission_low = #{commissionLow,jdbcType=REAL},
      </if>
      <if test="operateId != null">
        operate_id = #{operateId,jdbcType=VARCHAR},
      </if>
      <if test="saleOut != null">
        sale_out = #{saleOut,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateBig" parameterType="com.skyc.demo.merchants.po.ProductInfo">
    update product_info
    <set>
      <if test="productSpecialStatus != null">
        product_special_status = #{productSpecialStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateOne" parameterType="java.util.List" >
    update product_info
    <set>
      <trim prefix="product_special_status=case" suffix="end,">
        <foreach collection="list" item="item" index="index">
          <if test="item.productSpecialStatus !=null">
            when id=#{item.id} then #{item.productSpecialStatus}
          </if>
        </foreach>
      </trim>
    </set>
    where id in
    <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
      #{item.id}
    </foreach>
  </update>
  <update id="deleteProduct" parameterType="java.lang.String">
    update product_info
    set status = '0'
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="saleIn" parameterType="java.lang.String">
    update product_info
    set sale_out = '0'
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="saleOut" parameterType="java.lang.String">
    update product_info
    set sale_out = '1'
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="addVolume" parameterType="com.skyc.demo.merchants.po.ProductInfo">
    update product_info
    <set>
      <if test="productSaleVolume != null">
        product_sale_volume = #{productSaleVolume,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <update id="deleteAllProduct" parameterType="java.lang.String">
    update product_info
    set status = '0'
    where store_id = #{storeId,jdbcType=VARCHAR}
  </update>
</mapper>