<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyc.demo.user.dao.ReceiveInfoMapper">
  <resultMap id="BaseResultMap" type="com.skyc.demo.user.po.ReceiveInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="receive_name" jdbcType="VARCHAR" property="receiveName" />
    <result column="receive_phone" jdbcType="VARCHAR" property="receivePhone" />
    <result column="receive_address" jdbcType="VARCHAR" property="receiveAddress" />
    <result column="default_status" jdbcType="VARCHAR" property="defaultStatus" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, receive_name, receive_phone, receive_address, default_status, add_time, 
    status
  </sql>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from receive_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectUserReceive" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from receive_info
    where user_id = #{userId,jdbcType=VARCHAR}
    order by add_time desc
  </select>
  <select id="selectOtherReceive" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from receive_info
    where user_id = #{userId,jdbcType=VARCHAR}
    and status = '1'
    and default_status = '0'
    order by add_time desc
  </select>
  <select id="selectDefaultReceive" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from receive_info
    where user_id = #{userId,jdbcType=VARCHAR}
    and status = '1'
    and default_status = '1'
    order by add_time desc
  </select>
  <insert id="insertReceive" parameterType="com.skyc.demo.user.po.ReceiveInfo">
    insert into receive_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="receiveName != null">
        receive_name,
      </if>
      <if test="receivePhone != null">
        receive_phone,
      </if>
      <if test="receiveAddress != null">
        receive_address,
      </if>
      <if test="defaultStatus != null">
        default_status,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="receiveName != null">
        #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="receivePhone != null">
        #{receivePhone,jdbcType=VARCHAR},
      </if>
      <if test="receiveAddress != null">
        #{receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="defaultStatus != null">
        #{defaultStatus,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateReceive" parameterType="com.skyc.demo.user.po.ReceiveInfo">
    update receive_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="receiveName != null">
        receive_name = #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="receivePhone != null">
        receive_phone = #{receivePhone,jdbcType=VARCHAR},
      </if>
      <if test="receiveAddress != null">
        receive_address = #{receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="defaultStatus != null">
        default_status = #{defaultStatus,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateDefaultReceive" parameterType="java.util.List" >
    update receive_info
    <set>
      <trim prefix="default_status=case" suffix="end,">
        <foreach collection="list" item="item" index="index">
          <if test="item.defaultStatus !=null">
            when user_id=#{item.userId} then #{item.defaultStatus}
          </if>
        </foreach>
      </trim>
    </set>
    where user_id in
    <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
      #{item.userId}
    </foreach>
  </update>
</mapper>