<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyc.demo.user.dao.SupervipInfoMapper">
  <resultMap id="BaseResultMap" type="com.skyc.demo.user.po.SupervipInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="have_number" jdbcType="INTEGER" property="haveNumber" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, have_number, end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supervip_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from supervip_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <insert id="insertSuperVIP" parameterType="com.skyc.demo.user.po.SupervipInfo">
    insert into supervip_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="haveNumber != null">
        have_number,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="haveNumber != null">
        #{haveNumber,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateSuperVIP" parameterType="com.skyc.demo.user.po.SupervipInfo">
    update supervip_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="haveNumber != null">
        have_number = #{haveNumber,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="addNumber" parameterType="java.lang.String">
    update supervip_info
    set have_number = have_number + 1
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="subNumber" parameterType="java.lang.String">
    update supervip_info
    set have_number = have_number - 1
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="restartNumber" parameterType="java.lang.String">
    update supervip_info
    set have_number = 3
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>