<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyc.demo.user.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.skyc.demo.user.po.UserInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="wechat_number" jdbcType="VARCHAR" property="wechatNumber" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_rank" jdbcType="VARCHAR" property="userRank" />
    <result column="user_title" jdbcType="VARCHAR" property="userTitle" />
    <result column="user_count" jdbcType="REAL" property="userCount" />
    <result column="user_invite" jdbcType="VARCHAR" property="userInvite" />
    <result column="invite_number" jdbcType="INTEGER" property="inviteNumber" />
    <result column="father_id" jdbcType="VARCHAR" property="fatherId" />
    <result column="father_title" jdbcType="VARCHAR" property="fatherTitle" />
    <result column="father_support" jdbcType="REAL" property="fatherSupport" />
    <result column="grand_id" jdbcType="VARCHAR" property="grandId" />
    <result column="grand_title" jdbcType="VARCHAR" property="grandTitle" />
    <result column="grand_support" jdbcType="REAL" property="grandSupport" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, password, wechat_number, head_img, nick_name, user_phone, user_rank, 
    user_title, user_count, user_invite, invite_number, father_id, father_title, father_support, 
    grand_id, grand_title, grand_support, add_time, status
  </sql>
  <select id="selectAllUser" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    order by add_time desc
  </select>
  <select id="selectAllNormal" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where status = '1'
    order by add_time desc
  </select>
  <select id="selectUserSons" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where status = '1'
    and father_id = #{fatherId,jdbcType=VARCHAR}
    order by add_time desc
  </select>
  <select id="selectUerDetail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectUerByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>
  <select id="selectOneUser" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>
  <select id="selectUserById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insertUser" parameterType="com.skyc.demo.user.po.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="wechatNumber != null">
        wechat_number,
      </if>
      <if test="headImg != null">
        head_img,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userRank != null">
        user_rank,
      </if>
      <if test="userTitle != null">
        user_title,
      </if>
      <if test="userCount != null">
        user_count,
      </if>
      <if test="userInvite != null">
        user_invite,
      </if>
      <if test="inviteNumber != null">
        invite_number,
      </if>
      <if test="fatherId != null">
        father_id,
      </if>
      <if test="fatherTitle != null">
        father_title,
      </if>
      <if test="fatherSupport != null">
        father_support,
      </if>
      <if test="grandId != null">
        grand_id,
      </if>
      <if test="grandTitle != null">
        grand_title,
      </if>
      <if test="grandSupport != null">
        grand_support,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="wechatNumber != null">
        #{wechatNumber,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userRank != null">
        #{userRank,jdbcType=VARCHAR},
      </if>
      <if test="userTitle != null">
        #{userTitle,jdbcType=VARCHAR},
      </if>
      <if test="userCount != null">
        #{userCount,jdbcType=REAL},
      </if>
      <if test="userInvite != null">
        #{userInvite,jdbcType=VARCHAR},
      </if>
      <if test="inviteNumber != null">
        #{inviteNumber,jdbcType=INTEGER},
      </if>
      <if test="fatherId != null">
        #{fatherId,jdbcType=VARCHAR},
      </if>
      <if test="fatherTitle != null">
        #{fatherTitle,jdbcType=VARCHAR},
      </if>
      <if test="fatherSupport != null">
        #{fatherSupport,jdbcType=REAL},
      </if>
      <if test="grandId != null">
        #{grandId,jdbcType=VARCHAR},
      </if>
      <if test="grandTitle != null">
        #{grandTitle,jdbcType=VARCHAR},
      </if>
      <if test="grandSupport != null">
        #{grandSupport,jdbcType=REAL},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateUser" parameterType="com.skyc.demo.user.po.UserInfo">
    update user_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="wechatNumber != null">
        wechat_number = #{wechatNumber,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userRank != null">
        user_rank = #{userRank,jdbcType=VARCHAR},
      </if>
      <if test="userTitle != null">
        user_title = #{userTitle,jdbcType=VARCHAR},
      </if>
      <if test="userCount != null">
        user_count = #{userCount,jdbcType=REAL},
      </if>
      <if test="userInvite != null">
        user_invite = #{userInvite,jdbcType=VARCHAR},
      </if>
      <if test="inviteNumber != null">
        invite_number = #{inviteNumber,jdbcType=INTEGER},
      </if>
      <if test="fatherId != null">
        father_id = #{fatherId,jdbcType=VARCHAR},
      </if>
      <if test="fatherTitle != null">
        father_title = #{fatherTitle,jdbcType=VARCHAR},
      </if>
      <if test="fatherSupport != null">
        father_support = #{fatherSupport,jdbcType=REAL},
      </if>
      <if test="grandId != null">
        grand_id = #{grandId,jdbcType=VARCHAR},
      </if>
      <if test="grandTitle != null">
        grand_title = #{grandTitle,jdbcType=VARCHAR},
      </if>
      <if test="grandSupport != null">
        grand_support = #{grandSupport,jdbcType=REAL},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="deleteUser" parameterType="java.lang.String">
    update user_info
    set status = '0'
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateUserTitle"  parameterType="com.skyc.demo.user.po.UserInfo">
    update user_info
    set user_title = #{userTitle,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="becomeTalent"  parameterType="com.skyc.demo.user.po.UserInfo">
    update user_info
    set user_title = #{userTitle,jdbcType=VARCHAR},
    user_phone = #{userPhone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="addSupport"  parameterType="com.skyc.demo.user.po.UserInfo">
    update user_info
    set father_support = #{fatherSupport,jdbcType=REAL},
    grand_support = #{grandSupport,jdbcType=REAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>