<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyc.demo.admin.dao.SupervipSetMapper">
  <resultMap id="BaseResultMap" type="com.skyc.demo.admin.po.SupervipSet">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="img_address" jdbcType="VARCHAR" property="imgAddress" />
    <result column="supervip_name" jdbcType="VARCHAR" property="supervipName" />
    <result column="supervip_price" jdbcType="REAL" property="supervipPrice" />
    <result column="have_day" jdbcType="INTEGER" property="haveDay" />
    <result column="have_number" jdbcType="INTEGER" property="haveNumber" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, img_address, supervip_name, supervip_price, have_day, have_number, status
  </sql>
  <select id="selectAllSet" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from supervip_set
    where status = '1'
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supervip_set
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insertSelective" parameterType="com.skyc.demo.admin.po.SupervipSet">
    insert into supervip_set
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="imgAddress != null">
        img_address,
      </if>
      <if test="supervipName != null">
        supervip_name,
      </if>
      <if test="supervipPrice != null">
        supervip_price,
      </if>
      <if test="haveDay != null">
        have_day,
      </if>
      <if test="haveNumber != null">
        have_number,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="imgAddress != null">
        #{imgAddress,jdbcType=VARCHAR},
      </if>
      <if test="supervipName != null">
        #{supervipName,jdbcType=VARCHAR},
      </if>
      <if test="supervipPrice != null">
        #{supervipPrice,jdbcType=REAL},
      </if>
      <if test="haveDay != null">
        #{haveDay,jdbcType=INTEGER},
      </if>
      <if test="haveNumber != null">
        #{haveNumber,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.skyc.demo.admin.po.SupervipSet">
    update supervip_set
    <set>
      <if test="imgAddress != null">
        img_address = #{imgAddress,jdbcType=VARCHAR},
      </if>
      <if test="supervipName != null">
        supervip_name = #{supervipName,jdbcType=VARCHAR},
      </if>
      <if test="supervipPrice != null">
        supervip_price = #{supervipPrice,jdbcType=REAL},
      </if>
      <if test="haveDay != null">
        have_day = #{haveDay,jdbcType=INTEGER},
      </if>
      <if test="haveNumber != null">
        have_number = #{haveNumber,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>