<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyc.demo.admin.dao.SupervipSetMapper">
  <resultMap id="BaseResultMap" type="com.skyc.demo.admin.po.SupervipSet">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="supervip_money" jdbcType="REAL" property="supervipMoney" />
    <result column="dicount_number" jdbcType="INTEGER" property="dicountNumber" />
    <result column="pay_have_number" jdbcType="INTEGER" property="payHaveNumber" />
    <result column="invite_number" jdbcType="INTEGER" property="inviteNumber" />
    <result column="invite_have_number" jdbcType="INTEGER" property="inviteHaveNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    id, supervip_money, dicount_number, pay_have_number, invite_number, invite_have_number
  </sql>
  <select id="selectSupervipSet" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supervip_set
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <update id="updateSupervipSet" parameterType="com.skyc.demo.admin.po.SupervipSet">
    update supervip_set
    <set>
      <if test="supervipMoney != null">
        supervip_money = #{supervipMoney,jdbcType=REAL},
      </if>
      <if test="dicountNumber != null">
        dicount_number = #{dicountNumber,jdbcType=INTEGER},
      </if>
      <if test="payHaveNumber != null">
        pay_have_number = #{payHaveNumber,jdbcType=INTEGER},
      </if>
      <if test="inviteNumber != null">
        invite_number = #{inviteNumber,jdbcType=INTEGER},
      </if>
      <if test="inviteHaveNumber != null">
        invite_have_number = #{inviteHaveNumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>